<div class="map-container">
    <div id="map" class="map"></div>
    <!-- <div class="sidebar">
      <button class="close-button">Close</button>
      <div class="menu">
        <button class="menu-item" data-item="home">Beranda</button>
        <button class="menu-item" data-item="about">About</button>
      </div>
      <div id="home" class="content">Home Content</div>
      <div id="about" class="content">About Content</div>
    </div> -->
</div>
  

<!-- <div class="map-container">
  <div class="map-frame">
    <div id="map"></div>
  </div>
</div> -->